.header-section {
    background-color: #e3f2fd;
    padding: 10px 0;
}

/* LOGO-PART */

.logo {
    float: left;
    width: 70px;
}

.logo img {
    width: 55px;
}

/* MENU-PART */
.menu {
    float: left;
    width: 59%;
}

.menu ul {}

.menu ul li {
    display: inline-block;
    padding: 5px 4px;
    font-size: 16px;
}

.menu ul li a {
    text-decoration: none;
    margin-top: 7px;
    display: inline-block;
    color: #6e767b;
    font-size: 16px;
}

/* SEARCH-BOX-PART  */

.Search-tol {
    margin-top: 10px;
}

.search {
	border-radius: 3px;
	border: 1px solid #0000005c;
}


/* SEARCH-BUTTON */

.s-button {
    margin-top: 5px;
    margin-left: -68px;
}

.s-button button {
    border: 2px solid #52b86f;
    padding: 4px 15px;
    background: #e3f2fd;
    color: #52b86f;
    font-size: 19px;
    border-radius: 6px;

    transition: .2s;
}

.s-button button:hover{
    background-color: #52b86f;
    color: white;
}


/* breadcrumb */

.breadcrumb {
	display: flex;
	flex-wrap: wrap;
	padding: 0 0;
	margin-bottom: 1rem;
	list-style: none;
	background-color: #e9ecef;
	padding: 10px 10px;
	margin: 17px 5px;
    border-radius: 5px;

}
a{
    text-decoration: none;
}


/* <!-- carouse --> */


.d-block.w-100 {
	height: 370px;
}


/* alert */

.alert-warning {
	color: #664d03;
	background-color: #d4edda;
	border-color: #d4edda;
	margin-top: 23px;
}


/* PROGRESS */

.progress {
	display: flex;
	height: 1rem;
	overflow: hidden;
	font-size: .75rem;
	background-color: #e9ecef;
	border-radius: .25rem;
	margin-top: 10px;
}

.progress-bar-1.progress-bar-striped {
	background-color: #6c757d;
}


/* accordion */


.accordion-button.collapsed {
	background-color: whitesmoke;
}



/* TOOTLTIPH */


.btn-primary {
	color: #fff;
	background-color: #6c757d;
}


button-4 {
	margin-top: 22px;
	display: block;
	margin-left: -86px;
}


/* DROPDOWN */

.dropdown {
	margin-top: 33px;
	margin-left: 23px;
}


/* MODAL */


.model {
	margin-top: 22px;
}






.left {
	margin-left: 65%;
	margin-top: 34px;
}


.right {
	margin-top: 34px;
}





.footer-section {
	background-color: #17a2b8;
	padding: 10px 0;
}


.para {
	text-align: center;
	color: white;
	font-size: 17px;
	margin: 6px 0;
	font-weight: 400;
}

